@model Employee
@{
    ViewBag.Title = "Index";
}

<div>
    ID: @Model.Id
</div>
<div>
    Name: @Model.Name
</div>
<div>
    Department: @Model.Department
</div><div>
    E-mail: @Model.Email
</div>
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}


